<form [formGroup]="form" (ngSubmit)="submit()" class="modal-form">
  <h3>{{ !patient ? "Crear Paciente" : "Editar Paciente" }}</h3>
  <input class="input" formControlName="dni" placeholder="DNI" />
  <input class="input" formControlName="name" placeholder="Nombres" />
  <input class="input" formControlName="last_name" placeholder="Apellidos" />
  <select class="input" formControlName="sex">
    <option value="" disabled selected>Sexo</option>
    <option value="MALE">Masculino</option>
    <option value="FEMALE">Femenino</option>
  </select>
  <input class="input" formControlName="age" type="number" placeholder="Edad" />

  <div class="modal-actions">
    <button type="submit" [disabled]="form.invalid">
      {{ !patient ? "Guardar" : "Crear" }}
    </button>
    <button type="button" (click)="cancel()">Cancelar</button>
  </div>
</form>
