<h1>Perfil</h1>
<hr />

<div class="profile-info">
  <div class="avatar-section">
    <img
      ngSrc="images/user.jpeg"
      width="100"
      height="99"
      alt="Avatar"
      class="avatar"
    />
    <div class="name-role">
      <h2>{{ profileForm.value.name }} {{ profileForm.value.last_name }}</h2>
      <p>Geriatra</p>
    </div>
  </div>

  <form
    class="profile-form"
    [formGroup]="profileForm"
    (ngSubmit)="editMode ? saveProfile() : null"
  >
    <div class="form-group">
      <div class="form-field">
        <label>Nombres</label>
        <input
          type="text"
          formControlName="name"
          [placeholder]="user?.name || ''"
          [disabled]="!editMode"
        />
      </div>
      <div class="form-field">
        <label>Apellidos</label>
        <input
          type="text"
          formControlName="last_name"
          [placeholder]="user?.last_name || ''"
          [disabled]="!editMode"
        />
      </div>
    </div>

    <div class="form-field">
      <label>Especialidad</label>
      <ng-container *ngIf="editMode; else showSpeciality">
        <select formControlName="speciality">
          <option *ngFor="let esp of especialities" [value]="esp">
            {{ esp }}
          </option>
        </select>
      </ng-container>
      <ng-template #showSpeciality>
        <input
          type="text"
          formControlName="speciality"
          [placeholder]="user?.speciality"
          [disabled]="true"
        />
      </ng-template>
    </div>

    <div class="form-field">
      <label>Correo electrónico</label>
      <input
        type="email"
        formControlName="email"
        [placeholder]="user?.email || ''"
        [disabled]="!editMode"
      />
    </div>

    @if (!editMode && !passwordMode) {
    <div class="actions">
      <button type="button" class="btn" (click)="enableEdit()">
        Editar Perfil
      </button>
      <button
        type="button"
        class="btn change-password"
        (click)="enablePassword()"
      >
        Cambiar Contraseña
      </button>
      <button type="button" class="btn delete" (click)="deleteAccount()">
        Eliminar Cuenta
      </button>
    </div>
    } @if (editMode) {
    <div class="actions">
      <button type="submit" class="btn save" [disabled]="loading">
        Guardar
      </button>
      <button
        type="button"
        class="btn cancel"
        [disabled]="loading"
        (click)="cancelEdit()"
      >
        Cancelar
      </button>
    </div>
    }
  </form>

  @if (passwordMode) {
  <form
    class="profile-form"
    [formGroup]="passwordForm"
    (ngSubmit)="savePassword()"
  >
    <div class="form-group">
      <div class="form-field">
        <label>Contraseña actual</label>
        <input
          type="password"
          formControlName="oldPassword"
          placeholder="Actual"
          [disabled]="loading"
        />
      </div>
      <div class="form-field">
        <label>Nueva contraseña</label>
        <input
          type="password"
          formControlName="newPassword"
          placeholder="Nueva"
          [disabled]="loading"
        />
      </div>
      <div class="form-field">
        <label>Confirmar nueva contraseña</label>
        <input
          type="password"
          formControlName="confirmPassword"
          placeholder="Confirmar"
          [disabled]="loading"
        />
      </div>
    </div>
    <div class="actions">
      <button type="submit" class="btn save" [disabled]="loading">
        Guardar Contraseña
      </button>
      <button
        type="button"
        class="btn cancel"
        [disabled]="loading"
        (click)="cancelPassword()"
      >
        Cancelar
      </button>
    </div>
  </form>
  }
</div>
