<div class="recover-container">
  <h2>Cambiar contraseña</h2>
  <form (ngSubmit)="resetPassword()" #f="ngForm">
    <label for="newPassword">Nueva contraseña</label>
    <input
      id="newPassword"
      name="newPassword"
+        type="{{ showNewPassword ? 'text' : 'password' }}"

      [(ngModel)]="newPassword"
      required
    />
    <label for="confirmPassword">Confirmar contraseña</label>
    <input
      id="confirmPassword"
      name="confirmPassword"
  type="{{ showNewPassword ? 'text' : 'password' }}"
      [(ngModel)]="confirmPassword"
      required
    />
    <button type="button" (click)="showNewPassword = !showNewPassword">
  {{ showNewPassword ? 'Ocultar' : 'Mostrar' }}
</button>
    <button
      type="submit"
      [disabled]="!token || !newPassword || !confirmPassword || loading"
    >  <span *ngIf="loading" class="spinner"></span>

      Cambiar contraseña
    </button>
  </form>
  <div *ngIf="message" class="msg">{{ message }}</div>
  <div class="actions">
    <a routerLink="/login">Volver al login</a>
    <a routerLink="/send-code">Volver al código</a>
  </div>
</div>
