<div class="logo-central">
  <img
    ngSrc="/images/logo.jpeg"
    width="200"
    height="100"
    alt="IntelliCog Icon"
  />
  <h1>Guía de Uso</h1>
</div>

<div class="guia-acordeon">
  <div class="acordeon-item" *ngFor="let seccion of secciones; let i = index">
    <div class="acordeon-header" (click)="toggle(i)">
      <img [src]="seccion.img" width="60" height="60" [alt]="seccion.alt" />
      <span class="guia-titulo">{{ seccion.titulo }}</span>
      <span class="acordeon-arrow">{{ opened[i] ? '▲' : '▼' }}</span>
    </div>
    <div class="acordeon-body" [class.open]="opened[i]">
      <ol>
        <li *ngFor="let paso of seccion.pasos" [innerHTML]="paso"></li>
      </ol>
    </div>
  </div>
</div>
